/* font-family: 'Noto Sans', sans-serif;
font-family: 'Open Sans', sans-serif; */
/* description noto sans semibold. */
/* sloag noto regular */
/* company logo bold noto */
/* span regular */
/* postion: noto regular
person name: open sans bold
bold */



* {
  margin: 0;
  padding: 0;
  
}

a{
  text-decoration: none;
}
img{
  max-width: 100%;
}

body {
  background-color: #fefefe;
}

.main{
  width: 100%;
}
.main-container {
  max-width: 540px;
  margin: 0 auto;
  box-shadow: 20px 20px 63px grey;
  overflow: hidden;
}
/* comapny info */
.company-info-wrap{
  width: 100%;
  
  text-align: left;
}
.company-info{
  padding: 150px 20px 50px 20px;
  position: relative;
  z-index: 10;
}
.company-logo img{
  width: 20%;

}
.company-info h1{
  font-size: 28px;
  color: #221f1f;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
}
.company-info h1 span{
  font-weight: 400;
}
.company-info p{
  font-size: 12px;
  color: #a8a9ac;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  letter-spacing: 9px;
  text-transform: uppercase;
}
/* person info */


.person-main-info-wrap{
  width: 100%;
 
}
.person-main-info{
  padding: 20px;
  position: relative;
  z-index: 10;
}
.person-main-info h2{
  font-size: 28px;
  color: #221f1f;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase; 
}
.person-main-info span{
  font-weight: 700;
}

.person-main-info p{
 
  font-family: 'Noto Sans', sans-serif;
  color: #41aee3;
  font-size: 22px;
  text-transform: capitalize;
}




/* contact info */
.person-contact-info-wrap{
  width: 100%;
  
 
}

.person-contact-info{
  padding: 30px 20px 200px 20px;
  position: relative;
  z-index: 10;
}

.wrap{
  display: flex;
  margin-bottom: 15px;
}
.icon{
  width: 30px;
  height: 30px;
  background: #27a9e1;
  border-radius: 50%;
  position: relative;
}
.wrap:nth-child(even) .icon{
  background-color: #424143;
}
.icon img{
  width: 18px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}
.person-detail{
  width: 56%;
  word-break: break-all;
  position: relative;
}
.person-detail a{
  display: block;
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translate(0,-50%);
  font-size: 12px;
  color: #939598;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

.shape-wrap{
  position: relative;
  width: 100%;
  left: 64px;

  
}
.shape-wrap-2{
  position: relative;
}
.shape-1{
  position: absolute;
  top: 56px;
  right: -20px;
}

.shape-2{
  position: absolute;
  right: -22px;
  top: 48px;
}

.shape-3{
  position: absolute;
  right: -25px;
  top: 14px;
}


.shape-4{
  position: absolute;
  right: -13px;
  top: -60px;
}
.shape-4 svg{
  width: 198px;
}


.shape-5{

  position: absolute;
  right: 45px;
  top: -47px;
}
.shape-5 svg{
  width: 200px;
}
.shape-6{
  position: absolute;
  bottom: -15px;
  right: -48px;  
}
.shape-6 svg{
  width: 800px;
  height: 400px;
}

.shape-7{
  position: absolute;
  bottom: 81px;
  right: -43px;
}

.shape-7 svg{
  width: 300px;
  height: 595px;
}
/* 
.shape-1{
  position: absolute;
  bottom: 203px;
  left: 0;
} */
/* .shape-1 svg{
  width: 100%;
}
.shape-2{
  position: absolute;
  top: 13px;
  left: -22px;
}
.shape-2 svg{
  width: 100%;

}
.shape-3{
  width: 100%;
  position: relative;

}

.shape-3 svg{
 
  width: 100%;
  
}
.shape-4{
 
  width: 100%;
  position: relative;
  transform: translate(0px, 122px);
 
}

.shape-4 svg{
  width: 100%;
  
}
.shape-5{
  width: 100%;
  
}
.shape-5 svg{
  width: 100%;
}

 */












