html, body {
 
  color: #626262;
  font-weight: lighter;
  font-size: 14px;
  background: black;
}
img {
  max-width: 100%;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}
.main-container {
  max-width: 540px;
  margin: 0 auto;
  background-image: linear-gradient(-134deg, #ffffff, #f6f6f6, #ffffff);
  position: relative;
  overflow: hidden;
  
}
.company-info-wrap {
  height: 200px;
  position: relative;
}
.company-info {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}


/* center */

.card-center{
  width: 115px;
    height: 1000px;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(60deg);
    background: #e8e8e8;
}
.sidebar {
  position: absolute;
  width: 70px;
  height: 500px;
  left: 0;
  top: 48%;
  background: #e8e8e8;
}





 
.top-right-line {
    width: 20px;
    height: 235px;
    position: relative;
    left: -20px;
    top: 130px;
    background: #d82a45;
    transform: skewY(40deg);
}

.top-left-line {
  width: 20px;
  height: 215px;
  position: relative;
  /* top: 564px; */
  background: #d82a45;
  left: -20px;
  bottom: -397px;
  transform: skewY(41deg);
}



.bottom-right-line{
  width: 20px;
  height: 245px;
  position: absolute;
  left: 93px;
  top: 214px;
  background: #d82a45;
  transform: skewY(40deg);
}
.person-contact-wrap{
  position: relative;
  height: 500px;
}

.person-main-info{
  position: absolute;
  top: 85px;
  left: 54px;
   
}
.person-contact-info{
  position: absolute;
  top: 145px;
  left: 54px;
  font-size: 18px;
  color: #636363;
}
.person-contact-info span{
  color: #383838;
  font-size: 18px;
  line-height: 30px;
}
.person-main-info p{
  color: #6e6e6e;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;
}
.person-contact-info h2{
  color: #6e6e6e;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
}
.person-name{
  color: #6e6e6e;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;

}
.icon-class{
  width: 25px;
  height: 25px;
  padding: 6px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  background: #d82a45;
  margin-bottom: 20px;
  display: inline-block;
}











