*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
 
  
}

.container{
  max-width: 540px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  
 
}

.top
{
    height: 317px;
    padding: 80px 30px 30px 30px;
    background: white;
}
.top p{
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 2px;
}
.top span{
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 3px;
}

.center{

  height: 828px;
  width: 130px;
  position: absolute;
  top: -112px;
  right: 243px;
  background: #e8e8e8;
  transform: rotate(56deg);
}
 

.sidebar{
  position: absolute;
    width: 130px;
    height: 466px;
    left: 0;
    bottom: 0;
    background: #e8e8e8;
}

.sidebottom{
    position: absolute;
    width: 200px;
    height: 200px;
    bottom: -81px;
    right: -82px;
    background: #d82a45;
    transform: skewY(-30deg);
}

.top-right-line{
  width: 20px;
  height: 101px;
  position: absolute;
  left: -18px;
  top: -16px;
  background: #d82a45;
  transform: skewY(40deg);
}

.top-left-line{
  width: 20px;
  height: 203px;
  position: absolute;
  top: 391px;
  background: #d82a45;
  left: -20px;
  transform: skewY(-51deg);
 
}
.bottom-right-line{
    width: 20px;
    height: 173px;
    position: absolute;
    left: 108px;
    top: 62px;
    background: #d82a45;
    transform: skewY(40deg);
}
.bottom{
  padding: 50px 0 0 0;
  background: #ffffff;
  color: #242e37;
  height: 317px;

}
.bottom h1{
  font-size: 28px;
  font-weight: bold;
  line-height: 20px;
  letter-spacing: 2px;
  margin-bottom: 10px;
} 
.bottom p{
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 2px;
  margin-bottom: 20px;


}
.display{
  display: flex;
  flex-direction: row;
  padding: 0 0 10px 0;
}
.detail{
  position: relative;
 font-size: 18px;
 margin-left: 97px;

}

.icon{
  padding: 9px;
  background: #d82a45;
  border-radius: 50%;
  color: white;
}
.data{
  padding: 10px;
 color: #636363;
}