@font-face{
  font-family: customfont;
  src: url(/fonts/sfarborcrestlight.ttf);
}
@font-face{


  font-family: knema;
  src: url(/fonts/knema.ttf);
}

@font-face{


  font-family: detailtext;
  src: url(/fonts/roadgeek\ 2000\ series\ f.ttf);
}
* {
  margin: 0;
  padding: 0;
  
}

body {
  background-color: black;
}
.main-container {
  max-width: 540px;
  margin: 0 auto;
  background-image: linear-gradient(-17deg, #e7e7e7, #ececec, #fbfbfb, #f7f7f8, #ffffff);
  overflow: hidden;
}
.company-info-wrap {
  height: 200px;
  position: relative;
}
.company-info {
  width: 100%;
  position: absolute;
  top: 50%;
  text-align: center;
}

.company-info  h1{
  color: #26323a;
  font-weight: bold;
  margin-bottom: 3px;
  font-family:  knema;
  font-size: 42px;

}

.company-info span{
  letter-spacing: 3px;
  color: #26323a;
  font-weight: 100;
  font-family: customfont;
  font-size: 42px;
}

.company-info hr{
  background-color: #8a9294;
  border: 2px solid #8a9294;
  border-top: 2px solid #8a9294;
  border-bottom: 2px solid #8a9294;
  border-right: 2px solid #8a9294;
  border-left: 65px solid #fbb833;
  max-width: 196px;
  margin: 0 auto;
}


.company-info p{
  color: #26323a;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 800;
}

.person-info-wrap{
  height: 400px;
  position: relative;
}
.person-info{
    position: absolute;
    top: 21%;
    left: 10%;
    z-index: 10000;
}
.person-address{
  margin: 10px 10px 10px 10px;
}
.person-phone{
  margin: 10px 29px 10px 38px;
}
.person-mail{
  margin: 10px 29px 10px 60px;
}
.company-domain{
  margin: 10px 29px 10px 85px;
}
.person-detail{
  margin-left: 34px;
  font-size: 12px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 800;
  color: #33341b;
  
}
.bottom-line{
  position: relative;
}
.bottom-left-line {
  background: #13212a;
  height: 234px;
  background-image: linear-gradient(to bottom right, #19262e, #111b24, #273037, #111f2a, #13212a, #0d1e26);
  position: absolute;
  bottom: -38px;
  left: -188px;
  width: 462px;
  transform: rotate(53deg);
  
}

.top-left-line {
  background: #faae00;
  width: 60px;
  height: 617px;
  position: absolute;
  transform: rotate(143deg);
  /* top: 269px; */
  bottom: -118px;
  /* right: 24px; */
  left: 112px;
 
}

.white-line {
  background: #ffffff;
  width: 300px;
  margin-top: 10px;
  height: 4px;
}