@font-face{
  font-family: custumfont;
  src: url(/fonts/doctor\ garcia.ttf);
}

@font-face{
  font-family: powderfont;
  src: url(/fonts/powdah.otf);
}



*{
  margin: 0;
  padding: 0;
  text-align: center;
  

}

body{
  background-color: #eeeeee;
  
}


.container{
  max-width: 540px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.top{
  background:#1c2534;
  height: 250px;
  color: #e7e9ec;
  font-weight:300;
  text-align: center;
 
}
.logo{
  padding: 50px 0;
}
.top p{
  font-size: 18px;
  font-family:  powderfont;
  letter-spacing: 1.5px;
  font-weight: 600;
}
.top span{
  font-size: 11px;
  letter-spacing: 1.5px;
  color: #5c6672;
  font-family:  powderfont;


}
.companylogo{
  width: 80px;
}
.bottom{
  padding: 127px 0 100px 0;
  background: #ffffff;
  color: #242e37;
  height: 315px;
  text-align: center;
 
}
.bottom h1{
  font-size: 23px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 3px;
  margin-bottom: 10px;
  font-family: custumfont;
}
.bottom p{
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 2px;
  margin-bottom: 20px;
  font-family: powderfont;
  color: #ea6d8b;
  font-weight: 400;


}

.display{
  display: flex;
  flex-direction: row;
  padding: 0 0 10px 0;
}
.detail{
  position: relative;
  max-width: 286px;
  margin: 0 auto;
}

.icon{
  padding: 9px;
  color: black;
  font-size: 24px;
  color: #2e3440;
}
.data{
    padding: 10px;
    color: #2e3440;
    font-size: 19px;
    font-family: powderfont;
    font-weight: bold;
    text-transform: capitalize;
  
}


.clip{
  width: 300px;
  background-color: #e91d36;
  height: 50px;
  position: absolute;
  left: -9px;
  top: 207px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 25px;
  transform: rotate(-9deg); 

}

.clip::after{
  content: "";
  width: 125px;
  top: 47px;
  position: absolute;
  background: #85181b;
  left: 173px;
  opacity: 0.9;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 10px;
  z-index: 100;
  transform: rotate(-2deg);
  background-repeat: repeat;
  height: 15px;
}


.clip2{
  background-color: #e91d36;
  height: 50px;
  position: absolute;
  top: 231px;
  left: 172px;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 10px;
  border-top-right-radius: 30px;
  transform: rotate(-10deg);
  border-bottom-left-radius: 10px;

}

.left-side-clip{
  width: 100px;
  height: 143px;
  background-color: #e91d36;
  position: absolute;
  border-radius: 20px;
  bottom: 207px;
  left: -86px;
 
  
}

.right-side-clip{
  width: 100px;
  height: 143px;
  background-color: #e91d36;
  position: absolute;
  border-radius: 20px;
  bottom: 207px;
  right: -86px;
  
}