
.clip{
  width: 300px;
  background-color: #e91d36;
  height: 50px;
  position: relative;
  top: 30px;
  left: 30px;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 25px;
  transform: rotate(-9deg); 

}

.clip::after{
  content: "";
  width: 125px;
  top: 47px;
  position: absolute;
  background: #85181b;
  left: 173px;
  opacity: 0.9;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 10px;
  z-index: 100;
  transform: rotate(-2deg);
  background-repeat: repeat;
  height: 15px;
}


.clip2{
  width: 300px;
  background-color: #e91d36;
  height: 50px;
  position: relative;
  top: 19px;
  left: 219px;
  border-bottom-right-radius: 20px;
  border-top-right-radius: 30px;
  transform: rotate(2deg);
  z-index: -1;
  border-bottom-left-radius: 10px;

}
