html,
body {
  color: #626262;
  font-weight: bold;
  font-size: 14px;
  background: black;
}

img {
  max-width: 100%;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}

.main-container {
  max-width: 540px;
  margin: 0 auto;
  background-image: linear-gradient(-134deg, #ffffff, #f6f6f6, #ffffff);
  overflow: hidden;
  position: relative;
}

.main-img img {
  max-width: 150px;
}

.company-info-wrap {
  height: 200px;
  padding-top: 32px;
  padding-left: 40px;
}

.company-info {
  width: 100%;
}

.company-type span{
  margin: 0 20px;
}
/* center */

.card-center {
  width: 115px;
  height: 1000px;
  position: absolute;
  top: 30%;
  left: 51%;
  transform: translate(-50%, -50%) rotate(60deg);
  background: #e8e8e8;
}

.top-right-line {
  width: 20px;
  height: 235px;
  position: relative;
  left: -20px;
  top: 130px;
  background: #d82a45;
  transform: skewY(40deg);
}

.top-left-line {
  width: 20px;
  height: 215px;
  position: relative;
  /* top: 564px; */
  background: #d82a45;
  left: -20px;
  bottom: -397px;
  transform: skewY(41deg);
}

.bottom-right-line {
  width: 20px;
  height: 245px;
  position: absolute;
  left: 95px;
  top: 214px;
  background: #d82a45;
  transform: skewY(40deg);
}

.card-center-wrap {
  height: 51px;
}

.person-contact-wrap {
  display: flex;
  width: 100%;
  position: relative;
}

.person-main-info {
  width: 85%;
  position: relative;
}

.sidebar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 15%;
  height: 100%;
  background: #e8e8e8;
}

.person-contact-info {
  position: relative;
  z-index: 10;
  left: 12.5%;
  top: 4%;
}

.person-contact-info div {
  display: flex;
  margin-bottom: 30px;
  color: #6e6e6e;
  font-size: 14px;
  font-weight: bold;
  line-height: 20px;
}

.person-contact-info div span:nth-child(1) {
  width: 10%;
  position: relative;
}

.person-contact-info div span:nth-child(2) {
  width: 90%;
  margin-left: 10px;
}

.person-contact-info div span:nth-child(1) img {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.person-contact-info img {
  width: 20px;
}

.image-class {
  background-color: #d82a45;
  padding: 7px 6px 6px 6px;
  border-radius: 50%
}

.person-main-info p {
  color: #6e6e6e;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 15px;
}

.person-contact-info h2 {
  color: #6e6e6e;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 10px;
}

.person-name {
  color: #6e6e6e;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
}

.bottom-div-wrap {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  position: relative;
}

.bottom-div {
  width: 70px;
  height: 100px;
  background: #d82a45;
  transform: skewY(-30deg);
  position: absolute;
  bottom: -20px;
}