/* font-family: 'Montserrat', sans-serif; */


/* font-family: 'Poppins', sans-serif; */

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  font-size: 14px;
}

.main {
  width: 100%;
}

.main-container {
  max-width: 540px;
  margin: 0 auto;
  background: #10266b;
}

.company-info-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: 200px;
  position: relative;
}

.linear-line-wrap {
  position: absolute;
  width: 16px;
  height: 150px;
  /* background: repeating-linear-gradient( 45deg, transparent, transparent 10px, #ff4b4c 10px, #ff4b4c 13px ), linear-gradient( to bottom, #10266b, #10266b ); */
  background: repeating-linear-gradient( 45deg, #ff4b4c, #10266b 5px, #10266b 10px, #10266b 13px);
  top: 0;
}

.company-info {
  width: 100%;
  text-align: center;
  padding-top: 60px;
}

.company-info img {
  width: 60px;
}

.zigzag-line {
  position: absolute;
  top: 23px;
  right: 60px;
}

.zig-zag-line-1 {
  position: relative;
  height: 16px;
  width: 56px;
  z-index: 1;
}

.zig-zag-line-1:before,
.zig-zag-line-1:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}

.zig-zag-line-1:before {
  height: 12px;
  top: 110%;
  background: linear-gradient(-135deg, #36e3ff 8px, transparent 0) 0 8px, linear-gradient(135deg, #36e3ff 8px, transparent 0) 0 8px;
  background-position: top left;
  background-repeat: repeat-x;
  background-size: 16px 16px;
}

.zig-zag-line-1:after {
  height: 16px;
  top: 100%;
  background: linear-gradient(-135deg, #10266b 7px, transparent 0) 0 8px, linear-gradient(135deg, #10266b 7px, transparent 0) 0 8px;
  background-position: top left;
  background-repeat: repeat-x;
  background-size: 16px 16px;
}

.zig-zag-line-2 {
  position: relative;
  height: 16px;
  width: 56px;
  z-index: 1;
}

.zig-zag-line-2:before,
.zig-zag-line-2:after {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  right: 0;
}

.zig-zag-line-2:before {
  height: 12px;
  top: 110%;
  background: linear-gradient(-135deg, #36e3ff 8px, transparent 0) 0 8px, linear-gradient(135deg, #36e3ff 8px, transparent 0) 0 8px;
  background-position: top left;
  background-repeat: repeat-x;
  background-size: 16px 16px;
}

.zig-zag-line-2:after {
  height: 16px;
  top: 100%;
  background: linear-gradient(-135deg, #10266b 7px, transparent 0) 0 8px, linear-gradient(135deg, #10266b 7px, transparent 0) 0 8px;
  background-position: top left;
  background-repeat: repeat-x;
  background-size: 16px 16px;
}

.arrow-line-one {
  width: 25px;
  height: 25px;
  border-right: 4px solid #ff4b4c;
  border-top: 4px solid #ff4b4c;
  transform: rotate(45deg);
  top: 160px;
  right: 60px;
  position: absolute;
}

.arrow-line-two {
  width: 25px;
  height: 25px;
  border-right: 4px solid #ff4b4c;
  border-top: 4px solid #ff4b4c;
  transform: rotate(45deg);
  top: 160px;
  right: 80px;
  position: absolute;
}


/* person info */

.person-info-wrap {
  width: 100%;
}

.person-main-info {
  text-align: center;
  color: #fff8dc;
  font-family: 'Montserrat', sans-serif;
}

.person-main-info h1 {
  font-weight: 700;
  font-size: 35px;
  margin-bottom: 7px;
}

.person-main-info p {
  font-weight: 400;
  font-size: 26px;
}


/* contact */

.person-contact-detail-wrap {
  width: 100%;
}

.person-contact-detail {
  width: 240px;
  margin: 0 auto;
  padding: 30px 10px 30px 10px;
}

.wrap {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
  width: 100%;
}

.icon {
  width: 20%;
  position: relative;
  display: inline-block;
}

.icon img {
  width: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.person-details {
  width: 80%;
  font-family: 'Montserrat', sans-serif;
  color: #fff8dc;
  font-weight: 400;
  word-break: break-all;
  font-size: 14px;
}

.person-details a {
  font-family: 'Montserrat', sans-serif;
  color: #fff8dc;
  font-weight: 400;
  display: inline-block;
  font-size: 14px;
}

.phone-no a {
  font-family: 'Poppins', sans-serif;
}


/* center clip */

.clip-shape-wrap {
  width: 100%;
  display: flex;
  position: relative;
}

.left-plus-clip {
  width: 50px;
  height: 50px;
  margin-left: 10px;
}

.horizontal-plus {
  position: relative;
  background-color: #ffb727;
  width: 50%;
  height: 12.5%;
  left: 25%;
  top: 43.75%;
}

.vertical-plus {
  position: relative;
  background-color: #ffb727;
  width: 12.5%;
  height: 50%;
  left: 43.75%;
  top: 12.5%;
}

.right-dot-clip {
  background-image: radial-gradient(#ffffff 18%, #10266b 25%);
  background-position: 0 0;
  background-size: 20px 22px;
  height: 85px;
  width: 35px;
  position: absolute;
  right: 0;
  top: -6px;
}


/* Bottom clip shape 2 */

.clip-shape-2 {
  width: 100%;
  display: flex;
  flex-direction: row;
  position: relative;
}

.left-dot-clip {
  background-image: radial-gradient(#ffffff 18%, #10266b 25%);
  background-position: 0 0;
  background-size: 20px 22px;
  height: 85px;
  width: 85px;
  margin-left: 10px;
}

.right-arrow-clip {
  width: 30px;
  height: 29px;
  border-right: 11px solid #36e3ff;
  border-bottom: 11px solid #36e3ff;
  position: absolute;
  right: 12%;
  top: 60px;
}

.bottom-circle-clip {
  position: relative;
  height: 100px;
  overflow: hidden;
}

.circle {
  width: 100px;
  height: 100px;
  border-radius: 153px;
  overflow: hidden;
  /* background: repeating-linear-gradient(180deg,#ffffff,#ffffff 1.1%,#10266b 3.1%,#10266b 16.2%); */
  left: 50%;
  transform: translate(-50%, -10%) rotate(-4deg);
  bottom: -49px;
  position: absolute;
  background-image: linear-gradient(135deg, #ffffff 6.52%, #12256a 6.52%, #12256a 50%, #ffffff 50%, #ffffff 56.52%, #12256a 56.52%, #12256a 100%);
  background-size: 15.53px 15.53px;
}