/* font-family: 'Montserrat', sans-serif; */
@font-face{
  font-family: mainheadingtext;
  src: url(/fonts/Dup_____.ttf);
}
*{
  margin: 0;
  padding: 0;
}
body{
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}
a{
  text-decoration: none;
}
img{
  max-width: 100%;
}
/* main */
.main{
  width: 100%;
}
.main-container{
  max-width: 540px;
  margin: 0 auto;
}

.main-box{
  width: 100%;
  background: #FFCC80;
  position: relative;
  height: 630px;
  overflow: hidden; 
}

.box-1{
  width: 800px;
  margin: 15px auto;
  height: 800px;
  position: absolute;
  border: 2px solid #f0bd6c;
  left: -155px;
  top: -46px;
  transform: translate(-45px, -97px) rotate(45deg);
}

.box-2{
  width: 770px;
  margin: 15px auto;
  height: 770px;
  border: 2px solid #f0bd6c;
  
}

.box-3{
  width: 740px;
  margin: 15px auto;
  height: 740px;
  border: 2px solid #f0bd6c;
 
}

.box-4{
  width: 710px;
  margin: 15px auto;
  height: 710px;
  border: 2px solid #f0bd6c;
}

.box-5{
  width: 680px;
  margin: 15px auto;
  height: 680px;
  border: 2px solid #f0bd6c;
}

.box-6{
  width: 650px;
  margin: 15px auto;
  height: 650px;
  border: 2px solid #f0bd6c;
}

.box-7{
  width: 620px;
  margin: 15px auto;
  height: 620px;
  border: 2px solid #f0bd6c;
}

.box-8{
  width: 590px;
  margin: 15px auto;
  height: 590px;
  border: 2px solid #f0bd6c;
}

.box-9{
  width: 560px;
  margin: 15px auto;
  height: 560px;
  border: 2px solid #f0bd6c;
}

.box-10{
  width: 530px;
  margin: 15px auto;
  height: 530px;
  border: 2px solid #f0bd6c;
}
.box-11{
  width: 500px;
  margin: 15px auto;
  height: 500px;
  border: 2px solid #f0bd6c;
}
.box-12{
  width: 470px;
  margin: 15px auto;
  height: 470px;
  border: 2px solid #f0bd6c;
}
.box-13{
  width: 440px;
  margin: 15px auto;
  height: 440px;
  border: 2px solid #f0bd6c;
}
.box-14{
  width: 410px;
  margin: 15px auto;
  height: 410px;
  border: 2px solid #f0bd6c;
}
.box-15{
  width: 380px;
  margin: 15px auto;
  height: 380px;
  border: 2px solid #f0bd6c;
}
.box-16{
  width: 350px;
  margin: 15px auto;
  height: 350px;
  border: 2px solid #f0bd6c;
}

.box-17{
  width: 320px;
  margin: 15px auto;
  height: 320px;
  border: 2px solid #f0bd6c;
}
.box-18{
  width: 290px;
  margin: 15px auto;
  height: 290px;
  border: 2px solid #f0bd6c;
  
}
.box-19{
  width: 260px;
  margin: 15px auto;
  height: 260px;
  border: 2px solid #f0bd6c;
 
}
.box-20{
  width: 230px;
  margin: 15px auto;
  height: 230px;
  border: 2px solid #f0bd6c;
 
}
.box-21{
  width: 200px;
  margin: 15px auto;
  height: 200px;
  border: 2px solid #f0bd6c;
  
}



/* person information */
.person-main-info-wrap{
  background: #212121;
  width: 100%;
  position: absolute;
  top: 32%;
}
.person-main-info{
  padding-top: 20px;
  padding-bottom: 20px;
}
.person-main-info h1{
  font-family:  mainheadingtext;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}


.person-contact-info-wrap{
  width: 100%;
 
}
.person-contact-info{
  padding: 20px;
  text-align: center;

	

}
.person-contact-info p{

  color: #FFCC80;
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.person-contact-info p a{
  color: #FFCC80;
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  
}