* {
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
}

body {
  background-color: black;
}

.main-container {
  max-width: 540px;
  margin: 0 auto;
  background-image: linear-gradient(to right, #ffffff, #f6f6f6, #ffffff);
  overflow: hidden;
}

.company-info-wrap {
  height: 350px;
  position: relative;
}

.company-info {
  width: 100%;
  position: absolute;
  top: 30%;
  left: 15%;
}

.company-info h1 {
  color: #132028;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 3px;
}

.company-info-wrap span {
  letter-spacing: 3px;
  color: #9b9c9e;
  font-size: 24px;
  font-weight: lighter;
}

.company-info p {
  color: #26323a;
  font-weight: 600;
  margin-bottom: 10px;
}

hr {
  background-color: #849292;
  border: 2px solid #849292;
  border-top: 2px solid #849292;
  border-bottom: 2px solid #849292;
  border-right: 2px solid #849292;
  border-left: 65px solid red;
  width: 110px;
}

.person-info-wrap {
  min-height: 300px;
  background-image: linear-gradient(-134deg, #ffffff, #f6f6f6, #ffffff);
  overflow: hidden;
}

.person-info {
  background: #202020;
  color: #fefefe;
  transform: skewX(21deg);
  padding: 20px;
  position: relative;
  left: -45px;
  width: 100%;
}

.person-contact-info-wrap {
  font-size: 14px;
  position: relative;
  color: #898989;
  left: 64px;
  z-index: 10000
}

.person-info-container {
  display: flex;
  flex-direction: row;
}

.icon {
  padding: 10px;
}

.icon img {
  width: 21px;
}

.person-information {
  padding: 10px 10px 10px 10px;
}

.sidebar {
  width: 50px;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 100%;
  background-image: linear-gradient(to bottom right, #cb0015, #d0011f, #d5001d, #f20229, #cf0016);
}

.gray-side-bar {
  background: #898989;
  width: 50px;
  position: absolute;
  left: 77px;
  top: 0;
  height: 100%;
  z-index: 9999;
}