*{
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans', sans-serif;
  
}

body{
  background-color: black;
}
.main-container {
  max-width: 540px;
  margin: 0 auto;
  background-image: linear-gradient(to right, #ffffff, #f6f6f6, #ffffff);  
  overflow: hidden;
}

.company-info-wrap{

  height: 350px;
  position: relative;
}
.company-info{
  width: 100%;
  position: absolute;
  top: 30%;
  left: 15%;
}
.company-info h1{
  color: #132028;
  font-weight: bold;
  font-size: 28px;
  margin-bottom: 3px;
}
.company-info-wrap span{
  letter-spacing: 3px;
  color: #9b9c9e;
  font-size: 24px;
  font-weight: lighter;
}
.company-info p{
  color: #26323a;
  font-weight: 600;
  margin-bottom: 10px;
}

hr{
  background-color: #849292;
  border: 2px solid #849292;
  border-top: 2px solid #849292;
  border-bottom:  2px solid #849292;
  border-right:  2px solid #849292;
  border-left: 65px solid red;
  width: 110px;
}

.person-info-wrap{
  min-height: 300px;
  background-image: linear-gradient(-134deg, #ffffff, #f6f6f6, #ffffff);  
  overflow: hidden;
}
.person-info{
    background: #202020;
    color: #fefefe;
    transform: skewX(24deg);
    padding: 20px;
    position: relative;
    left: -44px;
    height: 153px;
    
}
.person-contact-info{
  position: relative;
  left: 75px;
  z-index: 100000;
  font-size: 16px;
  color: #fefefe;
}
.person-detail{
  padding: 0 12px 0 12px;
}
.sidebar{
 
  width: 50px;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 193px;
  background-image: linear-gradient(to bottom right,#cb0015,#d0011f,#d5001d,#f20229, #cf0016); 
}

.person-address{
  padding-bottom: 10px;
}
.comapny-domain{
  padding-bottom: 10px;
}
.person-phone{
  padding-bottom: 10px;
}
.person-mail{
  padding-bottom: 10px;
}
.gray-side-bar{
  background: #898989;
  width: 50px;
  position: absolute;
  left: 77px;
  top: 0;
  height: 209px;
  z-index: 9999;
}
.inner-gray-side-bar{
  background: #898989;
    width: 16px;
    position: relative;
    height: 17px;
    left: -7px;
    top: 192px;
    z-index: -1;
    transform: skewX(10deg);  
}
