@font-face
{ 
  font-family: customfonts;
  src: url(/fonts/imprimerie-bold.ttf);
}
  
@font-face{
  font-family: aleobold;
  src: url(/fonts/Aleo-Bold.ttf);
}
html, body {
  color: #626262;
  font-weight: lighter;
  font-size: 14px;
  background: black;
}
* {
  margin: 0;
  padding: 0;
}

.main-container {
  max-width: 540px;
  margin: 0 auto;
  background: #123247;
  overflow: hidden;
}

.triangle-class{
  position: relative;
}
#top-triangle{
  position: absolute;
  right: 0;
  transform: rotate(270deg);
  
}

.company-info-wrap{
  margin-top: 20px;
  background: #f5cc1c;
  height: 150px;
  text-align: center;
  top: 100px;
  position: relative;
 
}
.company-info{
  width: 100%;
  display: flex;
  position: absolute;
  flex-direction: row;
  justify-content: center;
}
.person-name{
  color:#1a3243;
  font-size: 50px;
  font-family: customfonts;
  font-weight: bold;
  padding: 18px 10px 18px 10px;
   
}

hr{
  background: #4f4202;
  width: 3px;
  outline: none;
  height: 100px;
  transform: translateY(24px);
}
.profession-name{
  font-size: 36px;
  color: #ffffff;
  padding: 24px 10px 25px 10px;
  font-family: aleobold;
}



.canvas-wrap{
  position: relative;
  top: 70px;
}


.canvas-draw{
 position: relative;
 width: 100%;
}
#left-circle{
  position: absolute;
  left: -100px;
}

.person-contact-info-wrap{
    min-height: 440px;
    text-align: end;
    color: #7893a4;
    font-family: aleobold;
    font-size: 11px;
    position: relative;
}

.person-contact-info{
  position: absolute;
  top: 35%;
  right: 20px;
  width: 300px;
}
.person-contact-info h3{
  padding-bottom: 10px;
}

.company-domain-wrap{
  display: flex;
  flex-direction: row;
  padding: 10px 0 10px 0;
 
}

.company-domain-info h4{
  padding: 36px 0 0 0;
  color: #ffffff; 
  font-family: aleobold;
  font-size: 14px;
  letter-spacing: 2px;
}


/* svg */



.curve-line-1{
height: 25px;
overflow: hidden;
}

.curve-line-1:before{
  content: attr(data-text);
  position: relative;
  font-size: 50px;
  text-decoration: wavy;
  text-decoration-color: #205370;
  text-decoration-line: underline;
  top: -48px;
}
.curve-line-2{
  height: 25px;
  overflow: hidden;
  }
  
  .curve-line-2:before{
    content: attr(data-text);
    position: relative;
    font-size: 50px;
    text-decoration: wavy;
    text-decoration-color: #205370;
    text-decoration-line: underline;
    top: -48px;
  }
  .curve-line-3{
    height: 25px;
    overflow: hidden;
    margin-bottom: 20px;
  }
    
    .curve-line-3:before{
      content: attr(data-text);
      position: relative;
      font-size: 50px;
      text-decoration: wavy;
      text-decoration-color: #205370;
      text-decoration-line: underline;
      top: -48px;
      
    }
   