/* font-family: 'Fira Sans', sans-serif; */

@font-face{
  font-family: caviardrems;
  src: url(/fonts/Caviar\ Dreams\ Bold.ttf);
}
@font-face{
  font-family: leaguespartan;
  src: url(/fonts/LeagueSpartan-Bold.otf);
}


* {
  margin: 0;
  padding: 0;
  
}

a{
  text-decoration: none;
}
img{
  max-width: 100%;
}

body {
  background: #fefefe;
  
}
.main{
  width: 100%;
}
.main-container {
  max-width: 540px;
  margin: 0 auto;
  background: #ffffff;
  position: relative;
}
.main-container:before, .main-container:after
{
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 25px;
  left: 10px;
  width: 50%;
  top: 80%;
  max-width:300px;
  background: #777;
  -webkit-box-shadow: 0 35px 20px #777;
  -moz-box-shadow: 0 35px 20px #777;
  box-shadow: 0 35px 20px #777;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  -o-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.main-container:after
{
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  -o-transform: rotate(8deg);
  -ms-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;
  left: auto;
}




/* company info */
.company-info-wrap{
  width: 100%;
  text-align: center;
  height: 300px;
  color: #ffffff;
  position: relative;
  overflow: hidden;
  background: #1C2834;
}

.bg-hero{
  position: relative;
  transform: rotate(-37deg);
  left: -48px;
  top: -98px;
  
}

 .square{
  width: 70px;
  height:70px;
  position: absolute;
 
}
.company-info-wrap .square:nth-child(1)
{
 
  top: 100px;
  left: -128px;
  background-image: linear-gradient(to left, #1f2b37,#29333f, #27313d,#2d3743);
}
 .company-info-wrap .square:nth-child(2)
{
  top: 185px;
  left: -128px;
  background-image: linear-gradient(to bottom, #1f2b37,#29333f, #27313d,#2d3743,#1d2935,#1c2834);
}

.company-info-wrap .square:nth-child(3)
{
  top: 19px;
  left: -49px;
  background-image: linear-gradient(45deg, #1f2b37,#29333f, #27313d,#2d3743,#1d2935,#1c2834);
}

.company-info-wrap .square:nth-child(4)
{
  top: 172px;
  left: -49px;
  background-image: linear-gradient(to top, #1f2b37,#29333f, #27313d,#2d3743,#1d2935,#1c2834);
}

.company-info-wrap .square:nth-child(5)
{
  top: 253px;
  left: -49px;
  background-image: linear-gradient(45deg, #1f2b37,#29333f, #27313d,#2d3743,#1d2935,#1c2834);
}

.company-info-wrap .square:nth-child(6)
{
  top: -61px;
  left: -42px;
  background-image: linear-gradient(45deg, #1f2b37,#29333f, #27313d,#2d3743,#1d2935,#1c2834);
}

.company-info-wrap .square:nth-child(7)
{
  top: -61px;
  left: 22px;
  background-image: linear-gradient(to left, #1f2b37,#29333f, #27313d,#2d3743,#1d2935,#1c2834);
}

.company-info-wrap .square:nth-child(8)
{
  top: 18px;
  left: 28px;
  background-image: linear-gradient(to bottom, #1f2b37,#29333f, #27313d,#2d3743);
}

.company-info-wrap .square:nth-child(9)
{
  top: 101px;
  left: 28px;
  background-image: linear-gradient(to bottom, #1f2b37,#29333f, #27313d,#2d3743);
}
.company-info-wrap .square:nth-child(10)
{
  top: 185px;
  left: 28px;
  background-image: linear-gradient(to bottom, #1f2b37,#29333f, #27313d,#2d3743);
}
.company-info-wrap .square:nth-child(11)
{
  top: 262px;
  left: 28px;
  background-image: linear-gradient(to bottom, #1f2b37,#29333f, #27313d,#2d3743);
}

.company-info-wrap .square:nth-child(12)
{
  top: 19px;
  left: 106px;
  background-image: linear-gradient(90deg, #1f2b37,#29333f, #27313d,#2d3743);
}

.company-info-wrap .square:nth-child(13)
{
  top: 26px;
  left: 187px;
  background-image: linear-gradient(to bottom, #1f2b37,#29333f, #27313d,#2d3743);
}
.company-info-wrap .square:nth-child(14)
{
  top: 268px;
  left: 112px;
  background-image: linear-gradient(45deg, #1f2b37,#29333f, #27313d,#2d3743);
}
.company-info-wrap .square:nth-child(14)
{
  top: 268px;
  left: 112px;
  background-image: linear-gradient(45deg, #1f2b37,#29333f, #27313d,#2d3743);
}
.company-info-wrap .square:nth-child(15)
{
  top: 341px;
  left: 30px;
  background-image: linear-gradient(45deg, #1f2b37,#29333f, #27313d,#2d3743);
}
.company-info-wrap .square:nth-child(16)
{
  top: 346px;
  left: 112px;
  background-image: linear-gradient(45deg, #1f2b37,#29333f, #27313d,#2d3743);
}
.company-info-wrap .square:nth-child(17)
{
  top: 424px;
  left: 112px;
  background-image: linear-gradient(45deg, #1f2b37,#29333f, #27313d,#2d3743);
}
.company-info-wrap .square:nth-child(18)
{
  top: 269px;
  left: 192px;
  background-image: linear-gradient(45deg, #1f2b37,#29333f, #27313d,#2d3743);
}
.company-info-wrap .square:nth-child(19)
{
  top: 350px;
  left: 192px;
  background-image: linear-gradient(45deg, #1f2b37,#29333f, #27313d,#2d3743);
}
.company-info-wrap .square:nth-child(20)
{
  top: 427px;
  left: 192px;
  background-image: linear-gradient(45deg, #1f2b37,#29333f, #27313d,#2d3743);
}
.company-info-wrap .square:nth-child(21)
{
  top: 105px;
  left: 266px;
  background-image: linear-gradient(45deg, #1f2b37,#29333f, #27313d,#2d3743);
}
.company-info-wrap .square:nth-child(22)
{
  top: 183px;
  left: 270px;
  background-image: linear-gradient(45deg, #1f2b37,#29333f, #27313d,#2d3743);
}
.company-info-wrap .square:nth-child(23)
{
  top: 262px;
  left: 270px;
  background-image: linear-gradient(45deg, #1f2b37,#29333f, #27313d,#2d3743);
}
.company-info-wrap .square:nth-child(24)
{
  top: 341px;
  left: 270px;
  background-image: linear-gradient(45deg, #1f2b37,#29333f, #27313d,#2d3743);
}

.company-info-wrap .square:nth-child(25)
{
  top: 418px;
  left: 270px;
  background-image: linear-gradient(45deg, #1f2b37,#29333f, #27313d,#2d3743);
}
.company-info-wrap .square:nth-child(26)
{
  top: 184px;
  left: 350px;
  background-image: linear-gradient(45deg, #1f2b37,#29333f, #27313d,#2d3743);
}

.company-info-wrap .square:nth-child(27)
{
  top: 263px;
  left: 350px;
  background-image: linear-gradient(45deg, #1f2b37,#29333f, #27313d,#2d3743);
}
.company-info-wrap .square:nth-child(28)
{
  top: 343px;
  left: 350px;
  background-image: linear-gradient(45deg, #1f2b37,#29333f, #27313d,#2d3743);
}
.small-box{
  
  position: absolute;
  background: #576d81;
  opacity: 0.5;
}
.small-box.box-1{
  width: 90px;
  height: 90px;
  left: -52px;
  top: 112px;
 
}

.small-box.box-2{
  width: 50px;
  height: 50px;
  left: 64px;
  top: 65px;
}

.small-box.box-3{
  width: 90px;
  height: 90px;
  left: 80px;
  top: 294px;
 
}

.small-box.box-4{
  width: 30px;
  height: 30px;
  left: -3px;
  top: 227px;
 
}

.small-box.box-5{
  width: 30px;
  height: 30px;
  left: 216px;
  top: 293px;

}
 

.small-box.box-6{
  width: 30px;
  height: 30px;
  right: 193px;
  top: 359px;
}
.small-box.box-7{
  width: 30px;
  height: 30px;
  right: 251px;
  top: 420px;
}
.small-box.box-8{
  width: 90px;
  height: 90px;
  right: 99px;
  top: 169px;
}
}
.small-box.box-9{
  width: 50px;
  height: 50px;
  right: 11px;
  top: 247px;

}

.company-info{
    padding: 20px;
    position: relative;
    left: 50%;
    top: 28%;
    transform: translate(-50%, -50%);
  
}
.company-logo{
  margin-bottom: 10px;

}
.company-logo img{
  width: 20%;
}
.company-info h1{
  font-size: 18px;
  font-family: leaguespartan;
  text-transform: uppercase;
  letter-spacing: 1px;

}
.company-info p{
  font-size: 13px;
  font-family: caviardrems;
  text-transform: uppercase;
  letter-spacing: 8px;

}


/* person main info */
.person-main-info-wrap{
  width: 100%;
}
.person-main-info{
  padding: 40px;
}
.person-main-info h2{
  font-size: 28px;
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase;
  color: #1C2834;
}
.person-main-info h2 span:nth-child(1){
  font-weight: 700;
}
.person-main-info h2 span:nth-child(2)
{
  font-weight: 300;
}
.person-main-info p{
  font-size: 18px;
  color: #656D75;
  font-family: 'Fira Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 8.5px;
}
.person-contact-info-wrap{
  width: 100%;
  word-break: break-all;
}
.person-contact-info{
  padding: 40px;
}
.wrap{
  display: flex;
  /* justify-content: center; */
  margin-bottom: 20px;
}
.icon{
  width: 15%;
  position: relative;
}
.icon img{
  width: 22px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.person-detail{
  width: 85%;
}

.person-detail a{
  display: block;
  color: #1C2834;
  font-size: 14px;
  font-family: 'Fira Sans', sans-serif;
  font-weight: 600;
}